* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-fluid {
  background-image: url(/img/nav2.jpg);
  padding: 2% 0% 3% 0%;
}

h1 {
  text-align: center;
  color: #f7f7f7;
  font-family: serif;
}

.input {
  width: 100%;
  text-align: center;
  color: #343a40;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  font-size: 100%;
  border-radius: 5rem;
}

.input:focus {
  opacity: 0.6;
}

.date {
  width: 29.6%;
  background-color: #f7f7f7;
  text-align: center;
  color: #343a40;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  font-size: 100%;
  border-radius: 5rem;
}

.date:focus {
  opacity: 0.6;
}

.add-button {
  margin-top: 1%;
  width: 99%;
  background: transparent;
  background-color: royalblue;
  opacity: 0.6;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: none;
  font-size: 100%;
  border-radius: 5rem;
}

.add-button:hover {
  opacity: 0.8;
}

.select {
  margin-top: 2%;
}

.select__item {
  background: transparent;
  background-color: white;
  opacity: 0.6;
  color: #343a40;
  width: 99%;
  text-align: center;
  height: 2rem;
  border: none;
  font-size: 100%;
  border-radius: 5rem;
}

.select__item:hover {
  color: #343a40;
  opacity: 0.5;
}

.maindiv {
  margin: 1% 20% 0% 20%;
}

.select-check__input {
  width: 5%;
  height: 20px;
}

.select-check__item {
  background-color: #f7f7f7;
  color: #343a40;
  width: 93%;
  height: 2rem;
  border: none;
  font-size: 100%;
  border-radius: 5rem;
}

.select-check__item:hover {
  background-color: white;
  color: #343a40;
}

form input,
form button {
  padding: 0.5rem;
  background-color: white;
  border: none;
}

.list {
  margin-top: 1%;
}

.item {
  margin-top: 2vh;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item:hover input {
  background-color: royalblue;
  opacity: 0.6;
  color: white;
  border: none;
  font-size: 100%;
  border-radius: 5rem;
}

.checkboxButton {
  width: 5%;
  height: 20px;
}

input {
  width: 50%;
  background-color: #f7f7f7;
  text-align: center;
  color: #343a40;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  font-size: 100%;
  border-radius: 5rem;
}

.item_date {
  margin-left: 1%;
  width: 20%;
}

.comButton {
  margin-left: 15%;
  width: 5%;
  background-color: white;
  color: green;
  border: none;
  font-size: 100%;
  border-radius: 5rem;
}

.comButton:hover {
  background-color: green;
  color: white;
}

.editButton {
  width: 5%;
  background-color: white;
  color: blue;
  border: none;
  font-size: 100%;
  border-radius: 5rem;
}

.editButton:hover {
  background-color: blue;
  color: white;
}

.deleteButton {
  width: 5%;
  color: red;
  background-color: white;
  border: none;
  font-size: 100%;
  border-radius: 5rem;
}

.deleteButton:hover {
  color: white;
  background-color: red;
}

.complated {
  text-decoration: line-through;
  color: red;
}

.complated input {
  background-color: lightgray;
  color: white;
}

.fall {
  -webkit-transform: translate(10rem) rotateY(20deg);
          transform: translate(10rem) rotateY(20deg);
  opacity: 0%;
}
/*# sourceMappingURL=main.css.map */