@import "mixin";
@import "var";

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.navbar--dark{
    background-color: #1b405a;
}
.navbar__title{
    margin: auto;
    color:white;
    font-family: serif;
}

.mainform{
    margin: 5% 20% 5% 20%;
}
form{
    //background-color: #1b405a;
    background-image: url(/img/nav2.jpg);
    padding: 5% 5% 5% 5%;
}

.form__input{
    width: 100%;
    text-align: center;
    color: $bg-color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.5rem;
    @include first;
    &:focus{
        opacity: 0.6;
    }
}

.button__add{
    width: 100%;
    margin-top: 1%;
    padding: 0.5rem;
    background: transparent;
    opacity: 0.6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    @include first;
}

.button--royalblue{
    background-color: royalblue;
    color: white;
    &:hover{
        opacity: 0.8;
    }
}


.form__select{
    margin-top: 2%;
    background: transparent;
    background-color: white;
    opacity: 0.6;
    color: $bg-color;
    width: 100%;
    height: 2rem;
    @include first;
    &:hover{
        color: $bg-color;
        opacity: 0.5;
    }
}


.maindiv{
    margin: 1% 25% 0% 25%;
}


.select-check__input{
    width: 5%;
    height: 20px;
}


.select-check__select{
    width: 93%;
    height: 2rem;
    @include first;
    
}

.select-check--white{
    background-color: rgb(247, 247, 247);
    color: $bg-color;
}
.list{
    margin-top: 1%;
}

.item{
    margin-top: 2vh;
    transition: all 1s ease;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    &:hover{
        input{
            background-color: royalblue;
            opacity: 0.6;   
            color: white;
            @include first;
        }
    }
}

.btn__check{
    width: 5%;
    height: 20px;
    @include first;
}
.item_input{
    margin-left: 5%;
    width: 60%;
    background-color: rgb(247, 247, 247);
    text-align: center;
    color: $bg-color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    @include first;
}


.btn__edit,.btn__delete,.btn__complate{
    margin-left: 2%;
    width: 5%;
    @include first;
    
}
.btn__complate{
    margin-left: 10%;
}
.btn--blue{
    background-color: white;
    color: blue;
    &:hover{
        background-color: blue;
        color: white;
    }
}
.btn--red{
    color: red;
    background-color: white;
    &:hover{
        color: white;
        background-color: red;
    }
}
.btn--green{
    background-color: white;
    color: green;
    &:hover{
        background-color: green;
        color: white;
    }
}


.complated{
    text-decoration: line-through;
    color: red;
    input{
        background-color: lightgray;
        color:white;
    }
}

.fall{
    transform: translate(10rem) rotateY(20deg);
    opacity: 0%;
}
