@import "mixin";
@import "var";
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.nav {
    text-align: center;
    background-color: #1b405a;
}

.nav__title {
    color: white;
    font-family: serif;
}

.form {
    margin: 5% 20% 5% 20%;
}

form {
    //background-color: #1b405a;
    background-image: url(/img/nav2.jpg);
    padding: 5% 5% 5% 5%;
}

.form__name {
    width: 100%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.5rem;
    @include first;
    &:focus {
        opacity: 0.6;
    }
}

.form__insert {
    width: 100%;
    margin-top: 1%;
    padding: 0.5rem;
    background: transparent;
    opacity: 0.6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    @include first;
    background-color: royalblue;
    color: white;
    &:hover {
        opacity: 0.8;
    }
}

.form__filter {
    margin-top: 2%;
    background: transparent;
    background-color: white;
    opacity: 0.6;
    color: $bg-color;
    width: 100%;
    height: 2rem;
    @include first;
    &:hover {
        color: $bg-color;
        opacity: 0.5;
    }
}

.todo {
    margin: 1% 25% 0% 25%;
}

.select-checkall {
    width: 5%;
    height: 20px;
}

.select-checkall__filter {
    width: 93%;
    height: 2rem;
    background-color: rgb(247, 247, 247);
    color: $bg-color;
    @include first;
}

.todo {
    margin-top: 1%;
}

.todo__task {
    margin-top: 2vh;
    transition: all 1s ease;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    &:hover {
        input {
            background-color: royalblue;
            opacity: 0.6;
            color: white;
            @include first;
        }
    }
}

.task__check {
    width: 5%;
    height: 20px;
    @include first;
}

.task__input {
    margin-left: 5%;
    width: 60%;
    background-color: rgb(247, 247, 247);
    text-align: center;
    color: $bg-color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    @include first;
}

.task__edit {
    margin-left: 2%;
    width: 5%;
    @include first;
    background-color: white;
    color: blue;
    &:hover {
        background-color: blue;
        color: white;
    }
}

.task__delete {
    margin-left: 2%;
    width: 5%;
    @include first;
    color: red;
    background-color: white;
    &:hover {
        color: white;
        background-color: red;
    }
}

.task__complate {
    margin-left: 2%;
    width: 5%;
    @include first;
    background-color: white;
    color: green;
    &:hover {
        background-color: green;
        color: white;
    }
}

.task__complate {
    margin-left: 10%;
}

.todo__task--complated {
    text-decoration: line-through;
    color: red;
    input {
        background-color: lightgray;
        color: white;
    }
}

.fall {
    transform: translate(10rem) rotateY(20deg);
    opacity: 0%;
}