* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.todo__nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo__nav--dark {
  background-color: #1b405a;
}

.todo__title {
  margin: auto;
  color: white;
  font-family: serif;
}

.todo__form {
  margin: 5% 20% 5% 20%;
}

form {
  background-image: url(/img/nav2.jpg);
  padding: 5% 5% 5% 5%;
}

.form__name--big {
  width: 100%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.5rem;
  border: none;
  font-size: auto;
  border-radius: 5rem;
  outline: none;
}

.form__name--big:focus {
  border: none;
  outline: none;
  opacity: 0.7;
}

.form__name--big:focus {
  opacity: 0.6;
}

.form__insert {
  width: 100%;
  margin-top: 1%;
  padding: 0.5rem;
  background: transparent;
  opacity: 0.6;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: none;
  font-size: auto;
  border-radius: 5rem;
  outline: none;
}

.form__insert:focus {
  border: none;
  outline: none;
  opacity: 0.7;
}

.insert--royalblue {
  background-color: royalblue;
  color: white;
}

.insert--royalblue:hover {
  opacity: 0.8;
}

.form__filter {
  margin-top: 2%;
  background: transparent;
  background-color: white;
  opacity: 0.6;
  color: #343a40;
  width: 100%;
  height: 2rem;
  border: none;
  font-size: auto;
  border-radius: 5rem;
  outline: none;
}

.form__filter:focus {
  border: none;
  outline: none;
  opacity: 0.7;
}

.form__filter:hover {
  color: #343a40;
  opacity: 0.5;
}

.todo__list {
  margin: 1% 25% 0% 25%;
}

.select-check {
  width: 5%;
  height: 20px;
}

.select-check__filter--white {
  width: 93%;
  height: 2rem;
  background-color: #f7f7f7;
  color: #343a40;
  border: none;
  font-size: auto;
  border-radius: 5rem;
  outline: none;
}

.select-check__filter--white:focus {
  border: none;
  outline: none;
  opacity: 0.7;
}

.list {
  margin-top: 1%;
}

.item {
  margin-top: 2vh;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item:hover input {
  background-color: royalblue;
  opacity: 0.6;
  color: white;
  border: none;
  font-size: auto;
  border-radius: 5rem;
  outline: none;
}

.item:hover input:focus {
  border: none;
  outline: none;
  opacity: 0.7;
}

.button__check {
  width: 5%;
  height: 20px;
  border: none;
  font-size: auto;
  border-radius: 5rem;
  outline: none;
}

.button__check:focus {
  border: none;
  outline: none;
  opacity: 0.7;
}

.item_input {
  margin-left: 5%;
  width: 60%;
  background-color: #f7f7f7;
  text-align: center;
  color: #343a40;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  font-size: auto;
  border-radius: 5rem;
  outline: none;
}

.item_input:focus {
  border: none;
  outline: none;
  opacity: 0.7;
}

.button__edit, .button__delete, .button__complate {
  margin-left: 2%;
  width: 5%;
  border: none;
  font-size: auto;
  border-radius: 5rem;
  outline: none;
}

.button__edit:focus, .button__delete:focus, .button__complate:focus {
  border: none;
  outline: none;
  opacity: 0.7;
}

.button__complate {
  margin-left: 10%;
}

.button--blue {
  background-color: white;
  color: blue;
}

.button--blue:hover {
  background-color: blue;
  color: white;
}

.button--red {
  color: red;
  background-color: white;
}

.button--red:hover {
  color: white;
  background-color: red;
}

.button--green {
  background-color: white;
  color: green;
}

.button--green:hover {
  background-color: green;
  color: white;
}

.complated {
  text-decoration: line-through;
  color: red;
}

.complated input {
  background-color: lightgray;
  color: white;
}

.fall {
  -webkit-transform: translate(10rem) rotateY(20deg);
          transform: translate(10rem) rotateY(20deg);
  opacity: 0%;
}
/*# sourceMappingURL=main.css.map */