@import "mixin";
@import "var";

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container-fluid{
    background-image: url(/img/nav2.jpg);
    padding: 2% 0% 3% 0%;
}
h1{
    text-align: center;
    color: #f7f7f7;
    font-family: serif;
}
.input{
    width: 69%;
    text-align: center;
    color: $bg-color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    @include first;
    &:focus{
        opacity: 0.6;
    }
}
.date{
    width: 29.6%;
    background-color: rgb(247, 247, 247);
    text-align: center;
    color: $bg-color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    @include first;
    &:focus{
        opacity: 0.6;
    }
}
.add-button{
    margin-top: 1%;
    width: 99%;
    background: transparent;
    background-color: royalblue;
    opacity: 0.6;   
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    @include first;
    &:hover{
        opacity: 0.8;
    }
}
.select{
    margin-top: 2%;   
}
.select__item{
    background: transparent;
    background-color: white;
    opacity: 0.6;
    color: $bg-color;
    width: 99%;
    text-align: center;
    height: 2rem;
    @include first;
    &:hover{
        color: $bg-color;
        opacity: 0.5;
    }
}

.maindiv {
    margin: 1% 20% 0% 20%;
}


.select-check__input{
    width: 5%;
    height: 20px;
}


.select-check__item{
    background-color: rgb(247, 247, 247);
    color: $bg-color;
    width: 93%;
    height: 2rem;
    @include first;
    &:hover{
        background-color: white;
        color: $bg-color;
    }
}
form input,
form button{
    padding: 0.5rem;
    background-color: white;
    border: none;
}


.list{
    margin-top: 1%;
}


.item{
    margin-top: 2vh;
    transition: all 1s ease;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    &:hover{
        input{
            background-color: royalblue;
            opacity: 0.6;   
            color: white;
            @include first;
        }
    }
}

.checkboxButton{
    width: 5%;
    height: 20px;
}
input{
    width: 50%;
    background-color: rgb(247, 247, 247);
    text-align: center;
    color: $bg-color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    @include first;
}
.item_date{
    margin-left: 1%;
    width: 20%;
}


.comButton{
    margin-left: 15%;
    width: 5%;
    background-color: white;
    color: green;
    @include first;
    &:hover{
        background-color: green;
        color: white;
    }

}
.editButton{
    width: 5%;
    background-color: white;
    color: blue;
    @include first;
    &:hover{
        background-color: blue;
        color: white;
    }

}
.deleteButton{
    width: 5%;
    color: red;
    background-color: white;
    @include first;
    &:hover{
        color: white;
        background-color: red;
    }

}


.complated{
    text-decoration: line-through;
    color: red;
    input{
        background-color: lightgray;
        color:white;
    }
}

.fall{
    transform: translate(10rem) rotateY(20deg);
    opacity: 0%;
}
